/* font family style section */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.span-style {
    color: #FF42A5;
}

.shared-content-header {
    font-size: 48px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shared-content-paragraph {
    color: #534C64;
    font-size: 18px;
    width: 520px;
}


/* nav-section-styles */
.nav-container {
    height: 70px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;

}

.nav-link-section {
    display: flex;
    padding-top: 20px;
    color: #3C354F;
    font-size: 18px;

}

.nav-sub-content>img {
    height: 20px;
    width: 20px;
    padding-right: 20px;
}

.nav-sub-content {
    display: flex;
    padding-right: 2px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-size: 18px;

}

.nav-sub-content a {
    padding-left: 15px;
}

.nav-title {
    display: flex;
    gap: 10px;
    padding-right: 400px;
}

.nav-title img {
    width: 60px;
    height: 35px;
    margin-top: 15px;
}

.nav-title h2 {
    font-size: 35px;
    margin-top: 10px;
}

.nav-items-container a {
    margin-right: 30px;
    list-style: none;

    text-decoration: none;

}


/* banner content styles */
.banner {
    display: flex;
    justify-content: space-around;
    background: #FFF;
    text-align: center;

}

.banner-first-title {
    color: #0B0223;
    font-size: 50px;
    margin-top: 120px;
    padding-bottom: 0px;

}

.banner-second-title {
    font-size: 70px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 120px;


}

.banner-item {
    margin-right: 10px;
}

.banner-item-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #534C64;
    font-size: 20px;
}

.banner-item-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #534C64;
    font-size: 20px;
}

.banner-item-3 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #534C64;
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-class {
    margin-right: 40px;
}

.primary-btn {
    background: #FF42A5;
    border-radius: 48px;
    padding: 20px 40px;
    border: none;
    color: #FFF;
    font-size: 20px;

}

.secondary-btn {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 20px 40px;
    border: none;
    color: #FFF;
    font-size: 20px;

}

.banner-icon {
    width: 20px;
    height: 20px;

}

/* gamer section styles */
.gamer-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-content-purpose {
    width: 520px;
    color: #534C64;
    font-size: 24px;

}

.gamer-span {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

/* funny-videos-styles */

.funny {
    padding-bottom: 10px;
}

.funny-title {
    text-align: center;

}

.funny-videos-title {
    color: #0B0223;
    font-size: 48px;
    padding-bottom: 5px;
}

.funny-videos-subsection {
    color: #534C64;
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 40px;

}

.funny-videos-container {

    display: flex;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;

}

.funny-title {
    text-align: center;
}

.caption {
    margin-top: 20px;
}

img.darker {
    transition: all 0.2s ease-in-out;
  }
  
  img.darker:hover {
    filter: brightness(50%);
  }



/* horse-ride */


.horse-ride {
    display: flex;
    justify-content: space-evenly;
}

.horse-ride-image {
    margin-bottom: 40px;
    margin-top: 120px;


}

.shared-content-paragraph {
    padding-top: 20px;
}

.horse-ride-sub-image {

    padding-top: 30px;
    position: relative;
    left: 600px;

}

.horse-ride-title {
    color: #0B0223;
    font-size: 40px;
    padding-top: 70px;
    margin-top: 200px;
}

/* anime seciton styles */

.anime-part {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;

}

.anime-content-title {
    color: #0B0223;
    font-size: 48px;

}

.anime-image-part {
    margin-top: 0px;
    margin-bottom: 80px;
}

.anime-content-part {

    padding-left: 400px;

}

.anime-sub-image {
    padding-top: 400px;
    position: relative;
    right: 1100px;


}


/* Careers style section */
.careers {
    display: flex;
    align-items: center;
    background: #FF42A5;
}


.careers-heading {
    color: #FFF;
    font-size: 48px;
    width: 426px;
    margin-left: 120px;
}

.careers-paragraph {
    color: #FFF;
    font-size: 18px;
    width: 680px;
    margin-left: 120px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #FFF;
    font-size: 20px;
    gap: 50px;
    margin-left: 120px;
    margin-top: 40px;

}

.grid-button {
    border-radius: 48px;
    background: #FFF;
    padding: 21px 40px;
    border: none;
    margin-top: 30px;
    margin-left: 120px;
    color: #FF42A5;
    font-size: 20px;
}

/* games item section */


.games {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding-bottom: 50px;
}

.games-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
    grid-gap: 40px;
}

.grid-items {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 100px;
    color: #0B0223;
    font-size: 20px;


}

.grid-items:hover {
    border: 1px solid #FF42A5;
    border-radius: 50px;

}









/* footer-items */


.footer {
    background-color: #0B0223;
    text-align: center;
    height: 500px;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    color: #FFF;
    padding-left: 900px;
    gap: 20px;

}

.shared-title {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;

}

.footer-content img {
    width: 60px;
    height: 35px;
    margin-top: 50px;
    margin-bottom: 40px;

}

.footer-item {
    display: flex;
    padding-left: 600px;
    gap: 60px;
    color: #FFF;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600px;

}

.footer-terms {
    display: flex;
    padding-left: 650px;
    gap: 60px;
    color: #FFF;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;

}

.footer-copyright {
    color: #FFF;
    padding-left: 100px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 100px;
}

.fa-brands {
    font-size: 30px;

}

.icons-container {

    display: flex;
    justify-content: space-around;
    width: 30%;
    padding-left: 700px;
    margin-bottom: 40px;

}









